@{
    ViewBag.Title = "Home Page";
}

<body>
    <section class="bgimage" id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
                    <h2 class="hero_title"></h2>
                    <p class="hero_desc"></p>
                </div>
            </div>
        </div>
    </section>
    <section class="bgimage2" id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
                    <h2 class="hero_title"></h2>
                    <p class="hero_desc"></p>
                </div>
            </div>
        </div>
    </section>

    <section id="homecard" class="bg-light mt-5">
        <div class="container-lg">
            <div class="text-center">
                <h2>Where would you like to begin?</h2>
            </div>

            <div class="row my-5 align-items-center justify-content-center">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body text-center py-4">
                            <h3 class="card-title">Create a Food Trial</h3>
                            <p class="card-text"></p>
                            <a href="~/Trial/Create" class="btn btn-primary">Start Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body text-center py-4">
                            <h3 class="card-title">Your Past Food Trials</h3>
                            <p class="card-text"></p>
                            <a href="~/Trial/index" class="btn btn-primary">Start Here</a>

                        </div>
                    </div>
                </div>
            </div>
           </div>
    </section>
    
    
</body>