@{
    ViewBag.Title = "Home Page";
}

<body>
    <section class="bgimage" id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
                    <h2 class="hero_title"></h2>
                    <img class="image" src="~/Views/Images/anna headshot winter.jpg" />

                    <p class="hero_desc"></p>
                </div>
            </div>
        </div>
    </section>
    <div class="jumbotron">
        <h1> Food Trial</h1>
        <p class="lead"> Food Trial App is to help you be able to track, organize, and provide list of food trials and their results.</p>
        <p> <a href="https://asp.net" class="btn btn-primary btn-lg"> Learn more &raquo;</a> </p>
        
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Create a Food Trial</h2>
            <p>

            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"> &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Your Past Food Trials</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866"> &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Your Food Lists</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867"> &raquo;</a></p>
        </div>
    </div>
</body>