@{
    ViewBag.Title = "Home Page";
}

<body>
    <section class="image" id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
                    <h2 class="hero_title"></h2>
                    <img class="img-fluid" src="~/Content/Images/Front Cover Food Trial.png" />
                    <img class="img-fluid" src="~/Content/Images/Front Cover Food Trial Second Part.png" />
                    <img class="img-fluid" src="~/Content/Images/Buttons for Home Page Food Trial.png" />
                    <p class="hero_desc"></p>
                </div>
            </div>
        </div>
    </section>
   

    <div class="row">
        <div class="col-md-4">
            <h2>Create a Food Trial</h2>
            
           <div class="container">
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">

                    <img class="img-thumbnail" src="https://pixelprowess.com/i/park_tn.png" alt="Create a Food Trial">
                    </a>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Your Past Food Trials</h2>
            <div class="container">
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">

                    <img class="img-thumbnail" src="https://pixelprowess.com/i/park_tn.png" alt="Robots in the Park">
                    </a>

            </div>
        </div>

        <div class="col-md-4">
            <h2>Your Food Lists</h2>
            <p></p>
            <div class="container">
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">

                    <img class="img-thumbnail" src="https://pixelprowess.com/i/park_tn.png" alt="Robots in the Park">
                </a>

            </div>
        </div>
    </div>
</body>