body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.bgimage {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.navbarScroll.navbarDark {
    background-color: black;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

#about, #skills, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}

#contact {
    padding-bottom: 4rem;
}

.imageAboutPage {
    width: 100%;
}

/* skills section css */
.skillsText.card {
    height: 180px;
    cursor: pointer;
}

.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover .skillsIcon {
    color: #9cc4e8;
}

.skillsText:hover {
    border: 1px solid #9cc4e8;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
