body {
    padding-top: 10px;
    padding-bottom: 5px;
}

.nav {
    color: black;
}

.navbar-nav{
    color: black;
}

.navbar-brand{
    padding: 0 0 0 10px;
    color: black;
}

.bgimage {
    height: 100vh;
    background: url('Images/woman eating.png');
    background-size: cover;
    position: relative;
}

.bgimage2 {
    height: 100vh;
    background: url('Images/Second section no word food trial.png');
    background-size: cover;
    position: relative;
}

.flex-left{
    display: flex;
    flex-wrap: wrap;

}

.outerContainer{
    margin-top: 40px;
    justify-content: center;
}

.container-lg{
   width: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.image {
    height: 100vh;
    background-size: cover;
    position: relative;
    
}
.img-thumbnail {
    height: 250px;
    width: 200px;
}

.jumbotron {

background: white;
z-index: auto;
left: 200px;
top: 500px;

}

.badge.badge-secondary{

}

.navbarScroll.navbarDark {
    background-color: black;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    
}



#contact {
    padding-bottom: 4rem;
}

.imageAboutPage {
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}






/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer{
    background-color: #f5f5ef;
    width: auto;
    height: 200px;
    text-align: left;
}
